basePath: /
host: localhost:8004
info:
  contact:
    email: support@example.com
    name: API Support
    url: http://www.example.com/support
  description: |-
    Sales Order Management Service for Microservices Challenge
    Provides sales order management (CRUD operations, confirm, pay)
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Sales Service API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    description: 'Type "Bearer" followed by a space and JWT token. Example: "Bearer
      eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."'
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
